[2016-02-10 14:16] ebeshero opened #1 "Welcome! Make a Website Splash Page! :-)"
To start, as we discuss on Monday, you should try setting up an HTML splash page for the project (just a placeholder for now) in our new decameron project space on newtFire. Here's [how to navigate there via SFTP](https://github.com/ebeshero/DHClass-Hub/issues/132).

You may wish to coordinate your web development here in GitHub: In your SFTP client, you can set up a session profile for Decameron

[2016-02-10 16:31] jlm323 opened #2 "Meeting Times"
Decameronistas!

Normally meet:
Wednesdays 11:30-12

First project meeting:
Friday Feb. 12 - 11:30-12

[2016-02-10 16:33] nlottig94 commented on #1
@laurenmcguigan @jlm323 @mjb232 @mmm202  Hey guys!  Here was one of the first homepages for the Dickinson site: http://htmlpreview.github.io/?https://github.com/ebeshero/EmilyDickinson16/blob/master/Old%20Files/lawrence.dickinsonhomepage.xhtml

Just an example, and we didn't use it at all!

[2016-02-11 15:50] ebeshero opened #3 "Choosing Texts"
@jlm323 I talked to @setriplette about our idea to compare Decameron editions and decide which to work with. She recommends a couple of good test passages to look at in evaluating whether an edition was "expurgated" or toned down:
2.7
3.10

[2016-02-12 02:23] nlottig94 opened #4 "GitHub Tips"
@laurenmcguigan @jlm323 @mmm202 @mjb232
Hi all!  [Here is a link](https://github.com/ebeshero/DHClass-Hub/blob/master/Class-Examples/GitHubSteps.md) to some steps/tips that will help you with GitHub when you're working with a fork in GitShell!  See you all in the morning!

[2016-02-12 13:27] ebeshero commented on #3
@setriplette  I'm just adding this from your post to the Decameron GitHub:
"For tales of contact in the Mediterranean, start with 2.7, 2.9, and 10.9. Others that will fit your theme and give you things to map are 2.3, 2.4, 2.9, 5.1, 5.2.

3.10 is considered the most scandalous story in the Decameron (as I had guessed) and translators often expurgate large portions of it."

[2016-02-22 06:47] ebeshero commented on #3
@jlm323 Have you still got that Dropbox link to the old Decameron project files? Let's take a look at them and work out a plan for the team to work on markup together...

[2016-02-22 14:14] jlm323 commented on #3
I do still have the link for the old Decameron files! Should I share the link here?

[2016-02-22 14:16] ebeshero commented on #3
@jlm323 You could sift through those files and push the ones you think we might want to work with on the project into this GitHub...(or just make a directory here in this GitHub of old Decameron project files...)

[2016-02-22 15:01] nlottig94 opened #6 "Splash Page"
@jlm323 @mjb232 @mmm202 @laurenmcguigan
I have just merged @laurenmcguigan's splash page to your GitHub! To view it [click here](http://htmlpreview.github.io/?https://github.com/jlm323/DecameronProject/blob/master/lmcguiganSplashPage/DecameronSplashPage.html)!
@laurenmcguigan I have noticed that it looks like you want an image to go on the page, but it is not showing up. You need to make sure that

[2016-02-22 15:09] nlottig94 commented on #3
@jlm323 You may want to create a folder titled Old_Decameron_Files or something instead of having them sit on alone in the main GitHub directory. Just a suggestion!

[2016-02-24 17:03] ebeshero opened #7 "Decameron Project Tasks!"
- [x] Analyze the Oakland Team's markup in the engDecameron file. **ARE** they capturing the nested narratives? If **not**, do we want to keep their structural markup, or change it?
- [x] Look for the original source of their code on the Brown Decameron Project.
- [x] Articulate the research question that will control your markup strategy!
- [x] By Friday, 2/26: Everybody, READ a couple of sets of

[2016-02-24 17:17] RJP43 commented on #7
**Research Ideas proposed in class 2/24:**
_10 days - 10 stories a day_
What marks a separation between days of the entire narrative?
What marks a separation between stories of a single day?
What levels of structure matter: stories, paragraphs, sentences?
Where is there overlap?
How are characters associated with places within a structural unit?
What stories do characters appear in?
What stories d

[2016-02-24 17:18] ebeshero commented on #7
I am going to take a look at the Project Gutenberg file and see if it's formatted differently in a way that helps to signal the nested narratives better than this Obdurodon/Brown file. @ebeshero

[2016-03-11 03:41] ebeshero commented on #7
Decameron team! What is happening with the project? @jlm323 @mmm202 @laurenmcguigan @mmm202

[2016-03-11 18:18] mmm202 commented on #7
@jlm323 @mjb232 @laurenmcguigan Have we picked what each of us can do?

[2016-03-11 21:58] jlm323 commented on #7
We haven't decided who is doing what yet but I think a good place to start is doing the [project midterm](https://github.com/ebeshero/DHClass-Hub/issues/161). Once we've started looking at the Decameron file individually and marking it up, I say we get together and discuss what we've found and start assigning tasks. I think we can draw from the markup each of us does and go from there.

[2016-03-12 06:21] laurenmcguigan commented on #7
Sorry I haven't been able to do much for on this yet, I've been working all week. But I am off tomorrow, so I can get started on the schematron if you guys want me to. Should we all be doing individual ones or should we make one together? perhaps we can each come up with at least one rule and post it here? And I can also try to extract names and places. Can I do that using find and replace? Or sho

[2016-03-12 20:05] mmm202 commented on #7
I think we need to at least start our markup before Monday and write the schematron. What ever way everyone wants to do it though is fine with me.

[2016-03-12 20:25] RJP43 commented on #7
Hey everyone @mmm202 @mjb232 @jlm323 @laurenmcguigan ,

I want to offer some advice on a workflow for the project, but first I wanted to make sure I understand where the project sits as of right now. Could someone link here what version of the text is being used and if it is the text that is already marked up by the Pitt main students what tags will you be keeping versus getting rid of? Did you co

[2016-03-12 20:29] RJP43 commented on #7
I agree with @mmm202 getting your markup and a schematron in place is most important and will help answer the rest of the midterm questions. Once you have a clear plan on what is being marked and how it is being marked you will know what it is you want to pull. The questions go hand in hand.

[2016-03-12 20:38] RJP43 commented on #7
@laurenmcguigan by extracting names and places do you mean that those are the two parts of the Pitt Main code you decided on keeping and if so then I would suggest writing an XSLT identity transformation to turn their XML into a little less marked up (and confusing) XML for your use. Then can add markup to grab the layers of the narrative in your new XML using Regex. Great job thinking of ways to

[2016-03-13 03:17] jlm323 commented on #7
I think using the Oakland team's Decameron file would be good for this, since I read through the first day and I think we can work with the markup they've already done. However, I think we may need to change the elements slightly to be more accommodating. Looking at their file, do we need to keep the milestone self closing tags? And is that only for TEI? I think it would be good for us to use TEI

[2016-03-13 05:01] RJP43 commented on #7
@jlm323

In an attempt to decode their code here are some links we might find useful in trying to figure out the markup:

Here is the [source site](http://www.brown.edu/Departments/Italian_Studies/dweb/texts/) that provided the basic markup they based their revised markup on from Brown.

This is the [final project site of the Pitt team](http://decameron.obdurodon.org/index.html), which might be wo

[2016-03-13 05:22] jlm323 commented on #7
@RJP43
The divs seem to be divided like this:

[code]

I think if we wanted to start with totally fresh markup, it would be fine. We just need to decide on what tags to use as soon as possible. Also, I don't think the milestones are completely necessary because they just seem to be denoting a change in the text.
Edit: I think if we chose to use the Oakland markup to look at nested narratives, we m

[2016-03-13 06:27] laurenmcguigan commented on #7
So are we keeping the div tags and extracting the quote tags? And what other tags can we keep? Maybe we should just make a list first of the tags we are keeping and the ones we are extracting. The we can write a schema rule that says "don't include 'old tag'" to ensure everything is extracted.

[2016-03-13 06:32] laurenmcguigan commented on #7
Also, it doesn't look to me like names are tagged within the text.  Is that something we have to add? I see that they are all listed at the beginning of the file, but not inside the text. Is that right or am I looking at it wrong?

[2016-03-13 06:43] jlm323 commented on #7
@laurenmcguigan Yes, the names and places aren't tagged but are listed at the very beginning with some informational attributes alongside them. We may have to start tagging them.
I think we should remove the milestone tags and keep the paragraph tags since they seem to be the original breaks in text. What tags do you think we should keep or remove?

I noticed `<pb n="22"/>` tags that continue to c

[2016-03-13 06:47] laurenmcguigan commented on #7
@jlm323 I thought so! And according to XPath, there are 594 different names listed, so we might want to get started on that. But, do we want to tag ALL of the names? Type `//person` into Xpath and see if you think we should keep all of them. It doesn't seem like they are all super important, but I'm not sure because I haven't read a lot of it.  Maybe we could tag just the main characters?

[2016-03-13 06:50] jlm323 commented on #7
@laurenmcguigan I think just tagging the main characters is a good place to start!
The main ladies are: Pampinea, Fiametta, Filomena, Emilia, Lauretta, Neifile, & Elisa.
And the main men are: Pamfilo, Filostrato, Dioneo.

[2016-03-13 06:57] laurenmcguigan commented on #7
@jlm323 sounds good! Also, I believe pb is page break, so I also think we should keep those. I agree that we don't need the milestone tags. I'm really not quite sure what they are used for. We would also need to add the place names within the text. Is there anything else we might want to add besides people and places?

[2016-03-13 07:05] jlm323 commented on #7
@laurenmcguigan I think that's it for now. I'm going to keep reading through it and see if I can find anything else that might need tagged or changed.

[2016-03-13 14:22] RJP43 commented on #7
@jlm323 oh okay yea that structure makes sense then. So `<div1>` always holds a day, `<div2>` always holds a novella, and `<div3>` always holds the commentary of both narrator/author and other characters. Questions to ask and things to consider when preparing to create an XSLT for identity transform and schematron:

Are the div#s ever out of that sequence of first `<div1>`, then `<div2>`, then `<d

[2016-03-13 14:46] ebeshero commented on #7
@jlm323 @RJP43 The use of div1, div2, div3, etc is really not favored in TEI community (even though the Guidelines sort of support them). It's an old TEI method and the problem with it was if the divs were not actually nested correctly, the numbers would be meaningless--and worse, it's often unclear what the numbers mean to people visiting your project and viewing your code (as you found here).  S

[2016-03-13 14:52] ebeshero commented on #7
@jlm323 @laurenmcguigan @mjb232 @mmm202 @RJP43 Wow! I see that Bocaccio's _Decameron_ is a featured example on the page about the use of the `<floatingText>` element in the TEI Guidelines. So if it is NOT being used in the Oakland team's code, perhaps our team had best introduce it!
http://www.tei-c.org/release/doc/tei-p5-doc/en/html/DS.html#DSFLT

The point of `<floatingText>` is to handle shifts

[2016-03-13 20:12] jlm323 commented on #7
Here's an excerpt of one of the stories including some milestones:

[code]

It seems to just note a shift in the story, not necessarily an interruption in the frame narrative.

If I'm understanding correctly, we would use floating text whenever there is a break in the frame narrative. For instance,

[code]

So far, the stories are told uninterrupted besides the return to the main narrative between

[2016-03-13 20:31] mjb232 commented on #7
@jlm323 Ill get started on the Personography and Placeography right away.

[2016-03-13 21:03] mjb232 commented on #7
Also, something we might want to think about is whether or not we want to actually mark up the entire text. At this point in the game what we're doing is fine, since all of our mark-up is more or less simple and applies to every story. However, if we want to do deep analysis and comparisons, using the entire text would be impossible for the time we have, so we need to select specific stories. Now,

[2016-03-13 21:22] jlm323 commented on #7
Good thinking! I think we should consider focusing on a few characters and compare their stories. I'd like to warn you that the character Dioneo seems to be a special case. At the end of the First Day, he asks if he can be the last story teller from then on and he asks if he can deviate from the theme of the day. So his stories do not necessarily fit in with the theme of the other stories on a giv

[2016-03-13 21:56] mjb232 commented on #7
That's interesting actually. I'd like to take a look at Dioneo's stories and see how they match-up to one another, and to the other stories.

[2016-03-13 22:26] mjb232 commented on #7
@ebeshero  @RJP43  @jlm323 Also, I'd hate to say it but I'm not sure how to approach the Personography and Placeography. How should I format it, and should I be modifying the tags and attributes? Does anyone know of any material I could read or examples I could use to base ours after? Sorry, but I never really got a firm handle on the prosopography. Tips?

[2016-03-13 23:21] ebeshero commented on #7
@mjb232 No worries--prosopography sounds difficult, but you just want to read something about it and see some examples to get a sense of it.
Here's something I wrote up for the Digital Mitford project team: [Digital Mitford Explanation of Prosopography](https://docs.google.com/document/d/1r-8NGPJL1pZ20pnfvoX5OT0DkcDi-NBp5urJiZwx1sY/pub#id.7x7otqxw11d4)

And here's a nice simple working example fro

[2016-03-14 00:15] laurenmcguigan commented on #7
@ebeshero The personography makes sense, but didn't the oakland team already make one at the beginning or is that something different? Also, while we are working on that we might want to also include in the tag whether they are a main character or a minor character.

[2016-03-14 00:20] laurenmcguigan commented on #7
Also, I think using floating text is a good idea instead of the milestone tags, but I assume they would be placed differently than the milestone tags, we can't just replace them. So, I don't think it would be practical to add floating text to the whole document, but instead just a few stories like Matt suggested. Although do we really need to add floating text tags for the purpose of our project?

[2016-03-14 00:26] mjb232 commented on #7
See, what they have at the beginning is structured differently. Usually it looks something like this:
`<person xml:id="st">`
`<persName>`
`<surname>Triplette</surname>`
`<forename>Stacey</forename>`
`<roleName>Editor</roleName>`
`</persName>`
but what the XML has is this:
`<person id="aristippo1008" religion="pagan" sex="m" role="philosopher" origin="Atene">Aristippo`
`(X.8)</person>`
The differen

[2016-03-14 00:27] ebeshero commented on #7
@laurenmcguigan I think you all have taken a closer look at the Oakland files more recently than I have, so I'll defer to you on this. Yes, from what you're saying it looks like the `<milestone/>` elements aren't the same as `<floatingText>` at all.

The reason you might want to "map" the structure of this narrative is because it's got stories nested inside stories. And that means that some of you

[2016-03-14 00:30] ebeshero commented on #7
@mjb232 Ohhh...I see what they did. Yes, it's an alternative way to code some prosopography information, and alas what they did doesn't look like it's really TEI conformant to me... It's not exactly wrong, but it's not quite how the TEI does things. It looks like they are confining themselves to little tiny strings of text you're allowed in an attribute value so you can never record very much.  I

[2016-03-14 00:32] mjb232 commented on #7
Yeah, I don't like it. Alright, so I could do a very basic Prosopography, just involving the main characters. I can designate them as male/female, storyteller, and since I liked @laurenmcguigan idea I'll also designate them as the main characters. Sound good?

[2016-03-14 00:40] ebeshero commented on #7
@mjb232 I suspect the Oakland team wasn't reading up on the use of `@xml:id` as you all have. The `@id` is an attribute we usually use in HTML, and you can use it in XML too, but it doesn't have the same punch as `@xml:id`. Let me see if I can explain the difference.

In HTML we can use an `@id` on an element, like you just did recently to make a table of contents at the top of a file and have int

[2016-03-14 00:49] ebeshero commented on #7
Okay, I just modified that several times! Just refresh the page... ;-)

[2016-03-14 00:51] ebeshero commented on #7
@mjb232 After the long answer...yes, I think your plan sounds good!

[2016-03-14 00:59] mjb232 commented on #7
Dope. Can you think of anything else I should use to label them?

[2016-03-14 01:39] ebeshero commented on #7
That's kind of up to you and the team, really. One question is whether the characters go by alternative names or nicknames in the text--so often a good prosop. list will help by holding the different names and somehow setting the official one apart...

[2016-03-14 01:43] ebeshero commented on #7
...But you're probably not ready to note alternative names yet--that usually comes with reading and marking the text. For now, what you make might be pretty simple, and you can always keep building and adding detail to it as you go.

[2016-03-14 01:47] mjb232 commented on #7
Sounds good. I just finished a very simple personography. Here's a sample:
 `<person xml:id="nea">`
                        `<persName>`
                        `<surname>Pampinea</surname>`
                           `<forename></forename>`
                          `<roleName>Story teller</roleName>`
                      `</persName>`
                     `<sex>Female</sex>`
                  `

[2016-03-14 02:13] ebeshero commented on #7
Looks good...but question: Is Pampinea a surname (surname = a last name)? (Do the characters have last names that you can see?) If not, surnames and forenames are optional, and you could just list her as `<persName>Pampinea</persName>`. TEI is perfectly happy with that. Also, you'll want to make sure you've opened and saved this as a `TEI ALL` file in oXygen.

So, here's something neat about TEI p

[2016-03-14 03:34] laurenmcguigan commented on #7
So this is all I've got for the schematron so far and I don't know where to go from here
`<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns:sch="http://purl.oclc.org/dsdl/schematron" queryBinding="xslt2"
    xmlns:sqf="http://www.schematron-quickfix.com/validator/process"
    xmlns="http://purl.oclc.org/dsdl/schematron">
    <ns uri="http://www.tei-c.org/ns/1.0" prefix="tei"/>
    <pattern>

[2016-03-14 06:30] ebeshero commented on #7
@laurenmcguigan Do you mean numerical order? Or really, chronological order (by date)? _confused_

[2016-03-14 14:34] laurenmcguigan commented on #7
Yes, I meant numerical! @ebeshero

[2016-03-16 20:21] setriplette opened #10 "Topics to search for in the Decameron"
This is Dr. Triplette. When you're distant reading the Decameron, read a story or two and then use the terms you learn from that story to search for the kinds of things that recur:
1. Character names (e.g. Fiammetta, Dioneo, Filomena--the narrators)
2. City and country names (e.g. Genoa, Florence, Alexandria, France, etc)
3. body parts--heart comes to mind, but try others too
4. ships and ship voc

[2016-03-16 20:29] jlm323 commented on #7
I'm going to be reading and marking up Day Two once we have the ids squared away, but I wanted to ask about the `<q>` elements: would it be beneficial to add attributes that said whether the speech is coming from a main character or a minor character? Like this:

`@who` values
who="mainChar" for showing a main character is speaking
who="minorChar" for showing a minor character is speaking

Or is t

[2016-03-16 21:20] ebeshero commented on #7
@jlm323 Hi Jessica! We're having a confab in my office with Becca and Dr. Triplette, and here's what we thinking:
- `<q>` elements: I would not recommend adding attributes because those will require maybe a judgment call that might be tough on the project team. How can we tell a "main" character apart from a "minor" character? In a way _every_ character is kind of minor...so the distinction might

[2016-03-17 04:20] ebeshero commented on #4
Here is a short list of the steps you want to take in your project GitHub, as a quick list here. (Please edit this to help make it clearer):
1. **Always Pull First**: When you start working on the Decameron files, you always first want to pull in any changes from others project participants. Always assume that something has happened since the last time you set to work. Since each of you is working

[2016-03-17 17:16] mmm202 commented on #7
@jlm323 I'm just wondering if I am still marking up day one with the places and people for the project midterm?

[2016-03-17 18:37] mjb232 commented on #7
Just letting you know I'm going to start on the ids around three thirty (once I'm out of class). Anything else I need to take a look at or do?

[2016-03-17 19:49] mjb232 commented on #7
Just letting you know I'm going to start on the ids around three thirty (once I'm out of class). Anything else I need to take a look at or do?

[2016-03-17 19:56] mjb232 commented on #7
Sorry for the double post, my phone was being weird.alsooooo I'm not going to be able to attempt this until tonight. I have drive home and back. Is this going to be an issue?

[2016-03-17 20:18] jlm323 commented on #7
@mmm202 Yeah, you can continue to markup the people and places for the First Day. I will be doing it for Day Two.

@mjb232 And that's okay, Matt. As long as you can get some of it done this evening. We can always use schematron to make sure the references are pointing to the personography.

[2016-03-17 22:12] laurenmcguigan commented on #7
@mmm202 you can mark up all the days at once using find an replace, it might be best to do them all at once.

[2016-03-17 22:14] laurenmcguigan commented on #7
I can look up some of the minor characters if you want to do the major ones @mmm202. We just need to make sure we are doing the same thing with @mjb232 as far as ids and ref. Are the ids in the personography and then ref are in the actual tags in the body. Does that make sense?

[2016-03-18 00:48] jlm323 commented on #7
@laurenmcguigan I've just been tagging like this: `<persName>Filostrato</persName>` for the time being. And I was thinking we would add the ref to the ids later. Or should we just wait for @mjb232 to finish the whole personography before marking any names or places at all?

[2016-03-18 03:29] mjb232 commented on #7
How do I tell XSLT to keep the tags not specified in my templates?

[2016-03-18 03:34] laurenmcguigan commented on #7
@jlm323  I mean, there really is not wrong way to do it I'm just thinking, if you go tag all the persName s now, you're just going to have to go back and find them all again to add the attributes. It's just kind of confusing because then we have to sort of wait on @mjb232 (sorry Matt!) to do the personography  before we can get started on tagging anything. Maybe we could all help Matt on the perso

[2016-03-18 03:34] ebeshero commented on #7
@laurenmcguigan @mmm202 @jlm323 You can definitely tag persName and placeName and other kinds of name elements without waiting for @mjb232. You can add your `@ref` attributes to those elements later when the personography is worked out.

[2016-03-18 03:37] ebeshero commented on #7
@mjb232 If I'm understanding your question (and I may not be), you need to write in tags that are being "consumed" in a template match. So, say you are matching on <person> elements in one XML file:

[code]

Then, when you match on those elements, their _contents_ are what is output--the text() node and other elements inside. So if you want the `<person>` element to be there wrapping the whole, yo

[2016-03-18 03:40] ebeshero commented on #7
Team: It's not a problem to add tags now without @ref attributes--because those tags are an XSLT identity transform away from being updated with @ref attributes from the personography entries. The part of hunting down all the names is the sort of thing you can do with Regex, find & replace, etc. And that's a different kind of work altogether. I think you should be working on that now.

[2016-03-18 03:43] laurenmcguigan commented on #7
@ebeshero @mmm202  @jlm323 Sorry about that!! If that is the case, would it be okay if I worked on Day 3? And @ebeshero  are those all uploaded separately or can do I need to copy and paste just day 3 into my oxygen?  What is the best way to do that so I am not already tagging what they have tagged?

[2016-03-18 03:47] laurenmcguigan commented on #10
@setriplette That's a great idea! @ebeshero when we tag these, can we just make the literal version of what it is an element?  For example `<bodyPart> </bodyPart>` or `<object> </object>`

[2016-03-18 03:52] ebeshero commented on #7
I left the entire Decameron in one file because of its nested narration. I think it's okay for each of you to work on separate days, and the way to do that is to **select** the entire element holding your assigned `<div type="day">`. You can select and highlight that from the Outline view in oXygen, where you see the tree: click on your div there, and in your main oXygen window you'll see your ent

[2016-03-18 03:57] mjb232 commented on #7
Ok so this is coming along pretty smoothly, the only issue being that there are a ton of attributes in the original file that need to be converted. I need to pull up a list of the attributes used ONLY in the person list. I tried:
`distinct-values(//person/@*)`
but its giving me the individual values, not the attributes actual names. Im sure this is pretty simple, buuuuuuuuuut I cant remember how t

[2016-03-18 03:58] ebeshero commented on #7
One dangerous thing about names that @setriplette warned me about is that there will be multiple characters named Fiametta (for example) and others too--so you can't always be sure that the Fiametta you're tagging is the _same_ person until you go look at the context--is she in one of the inner stories or in the frame? What you _can_ be sure of is that Fiametta _is a persName_ and you can just wra

[2016-03-18 03:59] ebeshero commented on #7
@mjb232 you need the `name()` function to return the attribute name!

[2016-03-18 04:10] ebeshero commented on #10
@laurenmcguigan Well, you could do that if this were generic XML, but you can't do it in TEI because it has restricted list of elements. What you'll want to do is come up with a good list of elements to use for these things that are legit with the TEI, and for that you'll want to do a little research in the TEI Guidelines. The only way to do this is just by reading chapters and looking at examples

[2016-03-18 04:11] laurenmcguigan commented on #7
@ebeshero I can do the FRAME characters. Do I still label the with `<persName>` or should I use something else?

[2016-03-18 04:14] jlm323 commented on #7
You should still use `<persName>` so we can still reference it back to the personography.

[2016-03-18 04:17] jlm323 commented on #7
I'll tag the names and places for the first novella in Day Two, but I will still be reading the entire day and looking for topics that Dr. Triplette mentioned in her issue. I've been noticing that it seems like there is a lot of focus on nobles in the stories I've read so far so that might lead us somewhere!

[2016-03-18 04:22] ebeshero commented on #10
That said, a very simple starting strategy is to separate persName, placeName, and _all other kinds of names_. TEI has a generic `<name>` element and you could set an `@type` and an `@subtype` attribute on it, for example. As you're hunting through the TEI Guidelines, you want to look for simple generic solutions like that. In TEI, we typically use attribute values to distinguish different kinds o

[2016-03-18 04:28] laurenmcguigan commented on #7
How do I do an outline view in oxygen?? @ebeshero

[2016-03-18 04:29] mjb232 commented on #7
So the original document listed all the id's simply as the name of the character, so when I do my XSLT the `xml:id` will just be their name.

[2016-03-18 04:30] ebeshero commented on #7
@laurenmcguigan Go to Window --> Show view --> find "Outline" on the list (if it's not showing on the left side of your oXygen screen already...it usually opens by default...)

[2016-03-18 04:39] mjb232 commented on #7
Im trying to push my Personography and I am having a bad time haha. Help!

[2016-03-18 04:45] laurenmcguigan commented on #7
@jlm323 can I add an attribute to persName on the frame characters? For example: `<persName type="frame">` So  we can find and extract ONLY the frame characters?

[2016-03-18 04:52] laurenmcguigan commented on #7
So there are 200 floating text elements. Do I look at them each individually, or is there a way to highlight all of them?

[2016-03-18 05:27] ebeshero commented on #7
@mjb232 Refer to https://github.com/jlm323/DecameronProject/issues/4 for help with GitHub

@laurenmcguigan @jlm323 That's a smart idea to add the attribute, BUT, remember if you want to grab every instance of someone's name in the whole file, we've been warned that sometimes characters in the inner stories share names with different characters in the frame! (Dr. Triplette suggested this might be a

[2016-03-20 02:01] mjb232 commented on #7
@ebeshero @RJP43 So how do I make an empty element not appear in my ids? I remember someone saying something about an IF statement, or something along those lines.

[2016-03-20 12:51] ebeshero commented on #7
@mjb232 You'd write a **conditional statement** in XSLT to test whether the thing you're looking for is missing, and you'll likely use the`not()`function. XSL conditionals can be one simple `<xsl:if>` statement, or they can be more elaborate for lots of different conditions.  To see how to write these, scroll to the section titled "Conditionals" on this page: http://dh.obdurodon.org/xslt-basics-2.

[2016-03-20 22:36] mjb232 commented on #7
So this is what I got. I know Im grabbing the empty elements (I checked in xpath), but their not being eliminated.

[code]

[2016-03-20 23:19] RJP43 commented on #7
Hey @mjb232 so I was thinking that the best way to describe this situation is that you want to output all of these attributes inside of these elements and when an attribute doesn't appear you don't want the element to appear.

So (working from the current files that are on the main Decameron site) you have a template match on person and then you make all of these elements that call on specific par

[2016-03-20 23:21] RJP43 commented on #7
Of course we could write it the opposite way: if this doesn't appear then output nothing but I think it makes more sense to do it this way.

[2016-03-20 23:23] ebeshero commented on #7
Yeah, what @RJP43 said! That makes more sense. I was thinking of not() when we were talking about it in class. But right, you really _only_ want to output something _if it is actually present_. And we are talking about attribute values, right? @mjb232

[2016-03-20 23:47] mjb232 commented on #7
I see! Yeah that makes sense! I was thinking I could do one line of code that could eliminate them all (I didnt want to have to edit all my code by hand haha)

[2016-03-21 00:28] ebeshero commented on #7
@mjb232 Hmmm. I can imagine a way that might work, but _only_ if you already know that you want to keep the same element name as your attribute name. You'd:

Write an XSL template match on an element that has any attribute `@*` .
For any attribute, get its name():  '@*/name()` would return "age" when @age="21" is on an element.
Use that attribute name() (whatever it is) in an XSL element construct

[2016-03-21 00:42] ebeshero commented on #7
@mjb232 It occurs to me that both me and @RJP43 may be misunderstanding what you're doing. It may not be that you're trying to match on attributes at all! I'm going back to this that you wrote:

[code]

This looks to me like it should work, but I wonder if you have another template rule for persName elsewhere in your XSLT? If so, it might be taking precedence over this and outputting an empty elem

[2016-03-21 00:47] ebeshero commented on #7
@mjb232 and @RJP43 And of course, here is the problem with your code:

[code]

Remember what happens when you start a statement with a forward-slash and no dot? Your if test is reaching back up all the way up to the top of the document to see whether _any element_ has no text node.  It's more accurate just to say:

[code]

or (with the dot notation):

[code]

or more simply yet:

[code]

There. so

[2016-03-21 01:53] laurenmcguigan commented on #7
soo all the persName s are tagged within the floating text, so where should I go from there? Should I do an XSLT transformation to add attributes to the names within floating text?

[2016-03-21 01:57] laurenmcguigan commented on #7
Although, Fiammetta is also known as Maria, and I think all those types of Names begin with i.e. ? Is that correct? and are those the names I should tag? and what should I tag them with?

[2016-03-21 02:09] ebeshero commented on #7
@laurenmcguigan That was speedy work! :+1:  Can you paste a snippet of text here to show us what you mean about the alternative names for the same character? That is information that should be recorded in the personography file, so you can use an `@ref` attribute to identify "Maria" as "Fiametta"--But show us an example of what you're talking about. Is it frequent, and is she the only one you're s

[2016-03-21 02:10] laurenmcguigan commented on #10
Just beginning to read through this, we could do something like: `<category xml:id=""/>` and have the xml:id's for each category listed in a type of "objectography". So, we could have categories like ship names and vocabulary and tag each of those with `<category xml:id="shipVocab"> Boat </category>`

[2016-03-21 02:19] laurenmcguigan commented on #7
@ebeshero  It was right at the beginning in the introduction. It looks like this:

[code]

It looks like it is within a `<note>` tag but the note tags contain other information as well. Also they use i.e. for a bunch of different things not just names. There are over 100 note tags.

[2016-03-21 02:22] laurenmcguigan commented on #7
And before I forget, Agnolo Gabriello  is also known as Angel Gabriel. The code looks like this

[code]

Not sure if that is an alternate name, or just where his name might come from??

[2016-03-21 02:33] laurenmcguigan commented on #7
Also there are 23 distinct persNames within floatingText. They are:

 Neifile

Filomena

 Dioneo

Melchisedech

Fiammetta

Emilia

Filostrato

 Lauretta

 Bergamino

Martellino

Pampinea

Guiscardo

Gerbino

 isabetta

 Chichibio

 Baronci

Isabella

 Gulfardo

 Calandrino

 Elena

 Niccolosa

 Biondello

Could some of these be the names of the storytellers. Do we already know there names?

[2016-03-21 02:55] jlm323 commented on #7
@laurenmcguigan I think this may help. These are the 10 main storytellers in the frame narrative:
Pampinea, Fiametta, Filomena, Emilia, Lauretta, Neifile, Elisa, Pamfilo, Filostrato, Dioneo.

I know a few of the names in the `<floatingText>` are in fact among the 10 main storytellers. Other names are characters within their stories.

@ebeshero I have tagged most of the `<placeName>`'s, just from l

[2016-03-21 03:00] jlm323 commented on #7
I also noticed that a lot of the placeNames were primarily in Italian (surprise!) and because we're working with the English version, I had to think some of the names through. For example, there was "Inghilterra" in the list of places but I know from taking Spanish that it is basically "England." So I just used Regex, looked for all instances of England, and tagged those with `<placeName>`. So eve

[2016-03-21 03:50] ebeshero commented on #7
Ahh, that will be a function of the Oakland team's markup. They did all of their markup on the Italian text, which makes me wonder if what we need to do is match up the English names with the Italian ones, if we're to use their prosopography lists.

[2016-03-21 12:05] setriplette commented on #7
Just as a tip, place names are usually in word reference.com's dictionary, and if not, just google the Italian if you have a doubt. Some of them are not obvious to the eye. You might want your prosopography to list both, because some of the people familiar with this text would know the Italian set of names better than the English.

[2016-04-11 15:35] ebeshero opened #16 "Integrate site index with website reading view"
...so you can pull information from your site index file, and on mouseover of a name, reveal information about that person.

For example: see http://digitalmitford.org/1820-03-20-WElford.html

I think we should do this with XQuery, since you're used to working with conditional statements and variables there.

My XSLT (complicated!): https://github.com/ebeshero/mitford/blob/master/letter-transforma

[2016-04-13 10:47] ebeshero commented on #7
@mjb232 @laurenmcguigan @jlm323 @mmm202 @RJP43 I got Matt's XSLT working to build up the "site index" in TEI for Decameron, but it still needs a little work to pull information about places into placeography lists. It's not a LOT of work but requires some lookup of TEI tags and study of the original tagsets, which DO give us the info on English and Italian place names that @setriplette suggests ab

[2016-04-13 10:52] ebeshero commented on #7
@ebb Some working notes from an e-mail exchange with David on a way to use XSLT to look for unmarked names to mark and automatically add `@ref` attributes. NOTE: this might be a little messy but is probably worth a try:
- you should be able to use a few strategies to find strings in the body that are not tagged as persons, but that match person names in the personography. The simplest approach mig

[2016-04-14 18:20] jlm323 commented on #7
I found two more nested narratives in the text which I tagged by putting `` at the beginning and end of the narrative. They can be found in Day 2 Novella 5 and Day 2 Novella 7. The nested narrative I showed highlighting it with JavaScript was Day 1 Novella 3.

I could not use `<div type="nested">` because the text is in `<p>` elements and it makes Oxygen angry. So I just commented it out and we ca

[2016-04-14 23:23] ebeshero commented on #7
@jlm323 How many nested narratives have we at this point? My instinct is to use `<floatingText>` for these, but we need to put an `@type` attribute for "nested". (Are there other nested narratives that we've marked with div elements?

The whole team (or anyone working on network graphs, for example, or pulling data for graphs), will need to know any changes we're adding to the tagging of the Decam

[2016-04-14 23:26] ebeshero commented on #7
@jlm323 Yes, now that I've consulted the TEI, it does seem like `<floatingText>` is really the best option here, just as it is for parts of the frame narrative that are embedded in the novella `<div>` elements. See http://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-floatingText.html

I would recommend `<floatingText type="nested">` And you could have narratives nested inside _nested_ narrativ

[2016-04-14 23:56] jlm323 commented on #7
We have 3 nested narratives so far. They were not tagged with `<div type="nested">` or any other tag previously. I just went in today and denoted them by putting comments around them.

[2016-04-15 00:06] ebeshero commented on #7
@jlm323 I think it would be okay to update the code and use `<floatingText type="nested">` if you agree, and just let's make sure the team is on board with the change, and you:
1) push this to GitHub, and
2) update the copy in eXist for XQuery.

[2016-04-15 07:28] ebeshero opened #18 "Mapping Leads"
@mjb232 @laurenmcguigan @RJP43 @spadafour  Here are some leads for mapping that I've been testing:

1) Output a list of distinct places marked in the Decameron Project. You can pull names from either the Italian or English files, or both. The Italian file has some good detail marked in the attributes, defining cities from regions, for example.

2) Run the list through one of the following to "geoc

[2016-04-15 14:22] nlottig94 opened #19 "How to view html on GitHub"
Add this prefix to the GitHub code preview page for the file:
`http://htmlpreview.github.io/?`

[2016-04-15 19:10] mjb232 commented on #18
Alright @ebeshero, I pushed both the original text file and the csv file onto github. I tried running it through DB, and while it accepted the csv format, the map itself shows no markers. Help?

[2016-04-15 22:31] ebeshero commented on #18
Hi @mjb232 Just got home after Honors Convocation...Let me take a look And remind myself how the data import works in CartoDB...

[2016-04-16 00:20] ebeshero commented on #4
@jlm323 @mmm202 @laurenmcguigan @mjb232 SInce this is really important right now, I'm posting the text here in Issues 4. You should bookmark this page so you have it ready when you're working on your project!

Just a reminder to each of you to always begin your project work by accessing the Git shell (or Git command line terminal for your repository) with:
**git pull**(and for Jess this is enough)

[2016-04-16 00:33] ebeshero commented on #18
@mjb232 Aha! I just pulled in your CSV, and you've mostly got that right, but some of your coordinates look like this:

Lunigiana,44.2001 N. 10.1754

while most of them look like this:

Genoa,44.4056,8.9463

I see you've got problematic entries all marked like this:
Holy Land,0.0,0.0
Gascony,0.0,0.0
(Which means? If they're plotted, they'll all be superimposed on top of the the prime meridian at t

[2016-04-16 01:22] ebeshero commented on #18
@mjb232 Okay--I spent a few minutes cleaning up the CSV a little and re-orienting myself to Carto-DB. It might be easiest if I talk you through this while you're in front of a computer: It's not hard, but you need a quick orientation to how Carto-DB works: If you use Skype, I can share desktops--I'm ebbondar on Skype...

[2016-04-16 01:56] ebeshero commented on #18
@mjb232 In case a voice-meeting won't work, let me try writing it out here:
1) In your CartoDB account, you upload a dataset with your CSV. (You should probably delete the first dataset you uploaded so you can replace it with the new CSV I just pushed in to the project GitHub). To do that, look up at the top right where you see your Profile, and click on the word Datasets. Open up your dataset tha

[2016-04-16 02:25] ebeshero commented on #18
Here's an output PNG (non-interactive) that I was just messing around with for fun: ![listofplacesebb_2_by_ebbondar_04_15_2016_10_24_34](https://cloud.githubusercontent.com/assets/4014518/14578555/e28529b2-0358-11e6-9ef3-e264270d17fa.png)

[2016-04-17 03:19] mjb232 commented on #18
Sorry @ebeshero, I've been away from my computer all weekend. Ok, so what do you need me to do now?

[2016-04-17 04:32] ebeshero commented on #18
@mjb232 Read the notes I posted for you in this comment thread on how to work with CartoDB, and pull the new dataset in. Let me know if you have trouble.

[2016-04-17 16:03] ebeshero commented on #18
@mjb232 how's it going? If you want me to talk you through any of it, let me know or just ping me here! Most of this is just learning your way around the CartoDB interface. It would be great if you could give @laurenmcguigan some map output (and code to embed a zoomable map in an HTML page) tomorrow so we can figure out where to put it on the site she's working on!

[2016-04-17 17:18] mjb232 commented on #18
@ebeshero I have a map! Also, I just had the idea to get the location of where the place is mentioned in the text (the day/story)  and adding that to the map. That could be useful info and will make our map look cooler.

[2016-04-17 17:20] laurenmcguigan opened #22 "Decameron Website!"
@ebeshero I'm working on the xslt right now for our website and just had a few questions.
1. There is a tag called `<front> </front>` what is that being used to tag? Is it TEI? Should I just remove it for the HTML.
2. When I am doing the XSLT, if there is something coded that I don't need for the HTML is there a way for me to remove it? And if I want to keep some markup like `<persName>`  and `<pl

[2016-04-17 17:45] laurenmcguigan commented on #22
@ebeshero Also, I can't really check my output because I still have that problem because I have a Mac. Remember from last time?  @spadafour Are you on campus at all today to help me fix this? Or can you send some instructions?

[2016-04-17 17:49] ebeshero commented on #22
@laurenmcguigan  Yes, you're right about the `<front>` tag: it's part of the TEI structure, and won't be part of HTML. So here's some basic outer structure of TEI to be aware of:

[code]

Anything that's inside `<text>` is somehow part of the body of the TEI file, but I can't remember what we set up in the `<front>` portion: It might be a prologue to the Decameron? You'll want to survey the conten

[2016-04-17 17:56] ebeshero commented on #22
@laurenmcguigan @spadafour Was it this?
https://github.com/ebeshero/DHClass-Hub/issues/157

Or if you can't get hold of Rob, save your output file and push it to the Troubleshooting folder in the DHClass-Hub, and I'll pull it in from there and see if I can figure out what's happening. Is it to do with your file extension? Make sure you save your output file as
**something.html**
And then you shoul

[2016-04-17 18:01] ebeshero commented on #18
@mjb232 Great idea, Matt! So you can import at as a column into the map software, I think...and it could be pulled in with the map labels... :+1:

[2016-04-17 18:04] mjb232 commented on #18
That's what I was thinking. Now the issue is getting the column. I'm in xide now fiddling with some code. I might need some help with this, so just keep your eyes open in case I need reinforcements

[2016-04-17 18:05] laurenmcguigan commented on #22
@ebeshero So this is what I have right now

[code]

What I want to do is make a table of contents with all the days and then within the text, have each day be a h1 element and each novella within be an h2 element. Can I do this twice like a did above to make a table of contents made of h1s and then also have h1s within the text? Also it seems like my output is only grabbing the first day and the f

[2016-04-17 18:05] ebeshero commented on #18
Will do! I'm working online all day.

[2016-04-17 18:07] mjb232 commented on #18
@ebeshero  Real quick, does exide work with the `ancestor::`? I know it doesn't do `sibling::`.

[2016-04-17 18:12] ebeshero commented on #18
@mjb232 BOTH of those axes will work in eXide, definitely! Yes, you can use `ancestor::` and `sibling::` and really any of our friends from the XPath window. What's not working?

Remember you need the right TEI namespace line at the top of the XQuery script, and you might need to be using the `tei:` prefix on your elements if you're not getting any output...

[2016-04-17 18:13] laurenmcguigan commented on #22
Also, I have //head in there, so I don't know why it is grabbing the entire div element for the TOC

[2016-04-17 18:15] mjb232 commented on #18
@ebeshero that was one of the problems! I also used a : instead of an = at some point. This is what I have so far. Essentially im trying to say: for each place name give me the ancestor `div[@type=novella]/head`. The only issue is that im returning 1001 results, and there should only be 190ish

[code]

[2016-04-17 18:21] ebeshero commented on #18
@mjb232 Ohhh! Here's the problem:
For your map, we only output each distinct value of place (because we only want one pin for each place regardless of how many times it comes up in the text). That's not a deal-breaker, but we need to work around it...

[2016-04-17 18:25] ebeshero commented on #18
@mjb232 So, let's a make a plan for this:
- what you _could_ do is output a **list** of text-structure info so you collect all the different locations in the text where a particular place is mentioned. (This is just like what we'd do in making an index to a book.) We've done this before in homework assignments, remember? Take **`distinct values()`**, then loop through with a **`"for loop"`** and o

[2016-04-17 18:27] ebeshero commented on #18
@mjb232 Just updated my comment above with some more detail/helpful hints.

[2016-04-17 18:31] mjb232 commented on #18
I dont believe that Carto supports TSV, so where does that leave us?

[2016-04-17 18:32] ebeshero commented on #18
I think they _might_...did you give it a try? I was about to make a tiny little file with TSV and see what happens on upload...

[2016-04-17 18:36] mjb232 commented on #18
I was just looking through their tutorials and I just used `crtl+f` to find TSV, but nothing came. I searched for CSV and got results though. But i might have missed it so give that a try

[2016-04-17 18:37] ebeshero commented on #18
Most folks don't know about TSV and I think they just don't have documentation posted! My instinct is to test it because I think we can choose what values are "delimiting" the columns on import. I'm in the middle of hammering out a review guide for American Lit, though, so if you'd like to do the test import, I'd be grateful!

[2016-04-17 18:37] mjb232 commented on #18
I got you! You focus on that haha.

[2016-04-17 18:38] ebeshero commented on #18
Thanks! But keep pinging me and I'll reply quick. When I need to debug code, I'll do it, but in the meantime, the empirical data testing is yours. :-)

[2016-04-17 18:40] mjb232 commented on #18
Also, I think Lauren needs help with the HTML, so you should check that out real quick

[2016-04-17 18:50] ebeshero commented on #22
@laurenmcguigan Let me take a look at your code, and even better, can you pull in any changes on your GitHub from upstream master, and practice **pushing** your XSLT file into GitHub, and doing a **pull request** on Jess's GitHub on the web, so then I can just pull it in and check it locally? You'll want to make sure you're comfortable with a process for doing that when Becca and I are not around,

[2016-04-17 18:54] ebeshero commented on #22
Believe it or not, when you work on a project and have lots of files going back and forth, you actually memorize it like a routine! Ideally, you get a routine for GitHub down in your fingers. :-) And if you have your file in the GitHub repo, I can write comments on specific lines right there--it'll be easier to see live. @laurenmcguigan

[2016-04-17 18:57] ebeshero commented on #18
@mjb232 Just a quick heads-up: We're meeting in class as usual tomorrow (Monday)--the presentation trip is not until Wednesday!

[2016-04-17 19:00] laurenmcguigan commented on #22
@ebeshero It is uploaded on the Decameron site. It's called readDecam.xsl

[2016-04-17 19:10] mjb232 commented on #18
Yeah, I'm not sure why I thought it was tomorrow. Anyways, Tsv works! So now I just need to get my list, put it in a text file and upload that to CartoDB as a new column

[2016-04-17 19:16] ebeshero commented on #18
Yay!

[2016-04-17 19:16] ebeshero commented on #22
Yay! Thank you @laurenmcguigan  and perfect timing. I'll pull it in and open it up here and run it and post line-comments for you.

[2016-04-17 19:17] mjb232 commented on #18
@ebeshero Ok, so back to my actual code. So, I went to put distinct-values around the `places` variable, but i get the error that says that (london) can be a node set. What does that mean? Here is the code so far. Also, am I approaching this the correct way?

[code]

[2016-04-17 19:19] ebeshero commented on #18
@mjb232 Remember, when you take **`distinct-values()`** you turn nodes into strings. You just make a string of text and it loses context in the XML tree. The distinct-values list of place names literally **cannot** have an `ancestor::*` of any kind because it's not XML any more.

[2016-04-17 19:20] ebeshero commented on #18
@mjb232 But fortunately, see above, and see past homeworks for what we do. That's why we make a "for loop" and test every member of the list of distinct values to find out about how often and where it shows up in the XML tree...

[2016-04-17 19:45] laurenmcguigan commented on #22
@ebeshero Okay, quick question. I was able to output Day One with h1 headers and h3 headers for the novellas. Yay!   However, the only thing that is outputting is the elements I added to the XSLT for example div @type='Day' @corresp="day01" And the same for the novellas. So, things like persName and placeName are not outputting. Do I need to add them to the XSLT to get them to output, or is there

[2016-04-17 19:50] ebeshero commented on #22
@laurenmcguigan You need a special template match on "persName" and another one on "placeName", since without special instructions, XSLT will just apply its default rule (spit out text contents) to all the TEI elements you don't specify or screen out from your output.

[2016-04-17 19:53] RJP43 commented on #22
@laurenmcguigan basically you have to tell XSLT to grab them too like how you did before but you are gonna want to wrap them in an HTML tag. It all depends on the exacts of what you want to do with them. Maybe do span elements with a class for whether they are person or place then you can make a certain style in your css for each to call on the group of them.

[2016-04-17 20:00] ebeshero commented on #22
@laurenmcguigan I just pushed in a couple of repairs to your XSLT...I'll add comments to highlight what I changed.

[2016-04-17 20:02] laurenmcguigan commented on #22
THANK YOU! @ebeshero @RJP43 ! I will work a little more on each day, and then upload all the HTML Days to github so we can add them to the pages I made last week!

[2016-04-17 20:03] laurenmcguigan commented on #22
@RJP43 so, should I change `<persName>` to `<span class="person">` ? Does that work?

[2016-04-17 20:09] ebeshero commented on #22
@laurenmcguigan Here: you'll find this helpful in deciding about what to output, I think: http://dh.obdurodon.org/class-and-span.html

[2016-04-19 21:26] mjb232 opened #26 "Time to put stuff on the web!"
@jlm323 @mmm202 Hey guys, so were almost done I just need to actually put all of our graphs and stuff on the web. So just make sure that your completed files and Ill get them to the web.

[2016-04-19 22:14] jlm323 commented on #26
My network graph is on here, uploaded as decamFlorenceImaginary.svg
I will write up a little explanation of the meanings of each color used and I'll send that to you ASAP.

Also, the map looks great! My only concern is that there seems to be "Naples" somewhere in India so the coordinates for that might be off. Also, we need to make sure we're adding the SSI to the Navigation/menu bar to each page

[2016-04-19 22:33] jlm323 commented on #26
Also, I just uploaded the JavaScript for the Index page so the trivia question should work once you get it on the web. Feel free to change the file name so it fits better.

[2016-04-20 00:02] jlm323 commented on #26
I added the explanation to the network graph. I just uploaded it here on github because I kept getting an error trying to update it in SSH /  upload it to the website.

Also did we pick a creative commons license? I suggest we go with this one:
Attribution-NonCommercial-ShareAlike
CC BY-NC-SA

[2016-04-20 00:48] mjb232 commented on #26
I'll see if I can upload the page from my computer. Also I agree with your choice of CC

[2016-04-20 00:52] mjb232 commented on #26
@jlm323 I just added your description in, you are all good to go!

[2016-04-20 00:53] jlm323 commented on #26
@mjb232 Great, thanks!

[2016-04-20 03:12] laurenmcguigan commented on #26
Hi guys, I don't know if any of you are still working, but I uploaded the day 1 output to Fetch. But how do I add a link in the index? can I do it from there. Or @mjb232 can you do it? It's uploaded to Fetch and it is called Day1output

[2016-04-20 03:53] jlm323 commented on #26
If you're trying to add a link to the navigation/menu bar, you can add it in decamnav.html

Also, I noticed we have a merge conflict

[2016-04-20 03:56] ebeshero commented on #26
@laurenmcguigan I notice the site hasn't changed: trouble with editing and adding files to the site?

[2016-04-20 04:02] laurenmcguigan commented on #26
@ebeshero  yes, I don't know which file is having a conflict, put we don't need to fix it tonight. It shouldn't be an issue in putting up my output.

and

@jlm323 How do I open it and make changes?

[2016-04-20 04:05] jlm323 commented on #26
It should be in your GitHub folder on your computer, under the Jessica-splashPage folder. Then just open that in Oxygen and add your changes, push the changes to GitHub and reupload it on Fetch

[2016-04-20 04:53] ebeshero commented on #26
@jlm323 @laurenmcguigan I think I managed to resolved Lauren's merge conflict from my house! Lauren, your new pages are now in Jessica's repo, and in case there's a problem on your local directory, you want to just pull in the good version from Jessica:

[code]

Hope that works.
Are you okay with posting to the website?

[2016-04-20 05:34] ebeshero commented on #26
@laurenmcguigan I saw your boxModel.xhtml page in the website files and noticed it wasn't working--just showing the code when I look at the page. The problem is that you're missing the namespace declaration for xhtml. Your document node should look like this:

[code]

Notice, I removed the xml line from the top, and that's because of what our Apache server expects at the PSC.
I also saved this sim

[2016-04-20 06:31] ebeshero commented on #26
@laurenmcguigan I only added your box model page to the site... you'll need to add the rest. But have a look at how the Server Side Includes are set and make sure you understand the way the site is meshing together!

[2016-04-20 12:13] RJP43 opened #32 "Project Feedback"
Hey everyone,

Please give us feedback, on this project, here in this issue.

THANKS!

[2016-04-21 00:32] nlottig94 commented on #32
@mjb232 @jlm323 @laurenmcguigan @mmm202
Hey guys!!  You did a wonderful job today!!  I loved how you're so excited about your project!  Since no one has given you any feedback yet, I figured that I would start it!

First, I really love your site!  I like how @laurenmcguigan made the different floating text is highlighted in specific colors and that this is also represented in the box chart.  I als

[2016-04-21 00:45] RJP43 commented on #32
Hey guys,

I completely agree with Nicole, you are a talented group! I look forward to watching this project grow. I wanted to make suggestion about the highlighted text. You might consider having toggle boxes that allow the user to toggle on the highlighting. I think you could combine the box model page with the table of contents that you guys were talking about maybe have the colors run across i

[2016-04-21 11:53] ebeshero commented on #32
Yay team Decameron! Here is something else to add:
- [ ] a page describing the history of the project and how you're _repurposing_ it...with links back to the other sites this is related to
- [ ] really important! Something to identify _you_! Who is this project team and what aspects of the project did you work on? You could make this a little whimsical if you like or find a clever way to present

[2016-04-21 14:08] ebeshero commented on #32
And this one is for @mjb232 : I think we can kick the mapping up a notch, so we don't have to use CartoDB and its embed interface, and so we have _more options_ for doing things with JavaScript you write on your project! Now that you see how CartoDB works, you know that you can take a list of place names and coordinates and bind them to a "map tile". The intro stuff is easy enough to pick up, but

[2016-04-21 14:33] ebeshero opened #33 "Kicking Up the Mapping: Leaflet"
I'm making a new issue on Mapping Phase 2 for @mjb232 : (what I posted in Project Feedback).
I think we can kick the mapping up a notch, so we don't have to use CartoDB and its embed interface, and so we have _more options_ for doing things with JavaScript you write on your project! Now that you see how CartoDB works, you know that you can take a list of place names and coordinates and bind them t

[2016-04-21 14:43] ebeshero commented on #18
Okay: Now that you have a map, let's kick this up to phase 2 and do this independently from CartoDB! See [the new issue posted here: https://github.com/jlm323/DecameronProject/issues/33](https://github.com/jlm323/DecameronProject/issues/33)

[2016-04-22 14:37] laurenmcguigan opened #34 "Dealing with Merge Conflicts"
@mjb232 @jlm323 @mmm202

Hey everyone! I will be working on the page with all the members of the project team. Could you please send me, as soon as possible, a picture of yourself, and a little write-up about who you are and what you did for the project.

[2016-04-22 15:02] mjb232 commented on #33
I shall begin working on it, wish me luck haha

[2016-04-22 20:41] jlm323 commented on #34
@laurenmcguigan I just sent you an email with my picture and write-up!

[2016-04-23 05:20] ebeshero commented on #33
Good luck! @mjb232

[2016-04-25 15:58] laurenmcguigan commented on #34
@mmm202 Megan, would you mind working on the members page? I have a lot to do with outputting the days and creating a write up for the box model. Or maybe we can work together on it?

[2016-04-25 17:02] mmm202 commented on #34
@laurenmcguigan Do you have everything on github?

[2016-04-25 17:34] mmm202 commented on #34
@laurenmcguigan I started it just need everyone's picture and information

[2016-04-25 18:18] RJP43 commented on #34
@laurenmcguigan if you have issues pushing to github from your computer  you can simply open the folder you want to add files to in your browser and just drag and drop the files you want to add from your computer's file explorer to the browser. It will intiative a screen for you to review the file you are adding and allow a place for a commit message. It's quick and easy and will work until we can

[2016-04-25 18:18] RJP43 commented on #34
@laurenmcguigan give me another a little bit to get that line of code for your XSLT we discussed earlier.

[2016-04-25 18:50] jlm323 commented on #34
@mmm202 Here's my write up:

Jessica Milewski is a 22 year old graduating senior at the University of Pittsburgh at Greensburg. She is majoring in Psychology with a clinical/counseling focus and minoring in English Literature. She enjoys reading, drawing, and writing in her free time and plans to earn a master's degree in Social Work. Jessica created the CSS for this website, the network graph of

[2016-04-25 19:52] jlm323 commented on #34
I noticed there's `p {float:right}` on the css and it is making some of the `<p>` elements flood over the div boxes. I would suggest creating an attribute for this. Like `<p class="right">` and then in the css having `p.right {float:right}`. Otherwise, all of our `<p>` elements will look off.

[2016-04-25 20:09] mmm202 commented on #34
@jlm323 sorry I'll fix it

[2016-04-25 20:09] laurenmcguigan commented on #34
![laurenmcguigan](https://cloud.githubusercontent.com/assets/16612030/14797308/18e4a8b2-0b00-11e6-8223-c6995037ea39.jpg)
 here is my picture. I'll get you a write up asap!

@mmm202

[2016-04-25 20:10] jlm323 commented on #34
@mmm202 It's okay, I'm changing it right now/uploading to github

[2016-04-25 20:13] jlm323 commented on #34
Also everyone remember to pull any changes before editing!

[2016-04-25 20:19] laurenmcguigan commented on #34
There should be an updated version of the css on here but I can't find it. I don't know if I pushed it or not???

[2016-04-25 20:20] jlm323 commented on #34
I think you're pushing to a different branch. Let me try to merge them

[2016-04-25 20:21] laurenmcguigan commented on #34
@jlm323 Thanks Jess

[2016-04-25 20:22] laurenmcguigan commented on #34
my desktop client says I am up to date though

[2016-04-25 20:23] jlm323 commented on #34
Yeah I checked and it says both are up to date..

[2016-04-25 20:24] jlm323 commented on #34
Are you sure you committed your changes?

[2016-04-25 20:43] mmm202 commented on #34
Just updated member page feel free to change anything. I'll check back later for the rest of Lauren's and Matt's stuff.

[2016-04-25 21:26] laurenmcguigan commented on #34
@jlm323 How do I do that?

[2016-04-25 21:36] jlm323 commented on #34
Type `git status` and check what it says. If it says you have things you haven't committed yet, type `git commit -m "type message here"` and where it says "type message here" just put whatever changes you're making. Like "committing changes to css"

[2016-04-25 21:36] ebeshero commented on #34
@laurenmcguigan and @jlm323 Just checking in from afar, I suspect that Lauren has not pulled in changes from Jess's branch, or that Lauren's fork isn't connected to Jess's main branch. Look **on the web** at each of your repositories:
- Jess's branch (the home base): https://github.com/jlm323/DecameronProject
- Lauren's fork: https://github.com/laurenmcguigan/DecameronProject

Lauren, your reposit

[2016-04-25 21:37] RJP43 commented on #34
@laurenmcguigan I haveby had a chance to get to my comouter but if you checkout [this XSLT](https://github.com/RJP43/CitySlaveGirls/blob/master/webDevelopment/2015/articleXMLtoHTML.xsl) the  first bit of code inside of the body element is how you would make your SSI show up on all your day pages. As for the github issue ... we first need to know the branch you are on ... you can tell this by typin

[2016-04-25 21:38] RJP43 commented on #34
*Haven't *computer

[2016-04-25 21:38] laurenmcguigan commented on #34
Lauren McGuigan is a 20 year old Communications major with a focus in Media Studies and a minor in Theatre. She is currently pursuing a Digital Media Certificate, and hopes to one day work in Entertainment Marketing. Lauren worked as a web developer for the Decameron project, and used XSLT to transform the XML markup to HTML. She also created the Box Model that interprets the structure of the narr

[2016-04-25 21:38] laurenmcguigan commented on #34
Last login: Mon Apr 25 17:37:38 on ttys000
Laurens-MacBook-Pro:DecameronProject laurenmcguigan$ git status
On branch master
Your branch is up-to-date with 'origin/master'.
nothing to commit, working directory clean
Laurens-MacBook-Pro:DecameronProject laurenmcguigan$

[2016-04-25 21:40] laurenmcguigan commented on #34
everything should be up to date

[2016-04-25 21:41] RJP43 commented on #34
Now do git remote -v and paste what it says so I can see if you are forked right

[2016-04-25 21:41] laurenmcguigan commented on #34
Last login: Mon Apr 25 17:41:27 on ttys000
Laurens-MacBook-Pro:DecameronProject laurenmcguigan$ git remote -v
jlm323  https://github.com/jlm323/DecameronProject.git (fetch)
jlm323  https://github.com/jlm323/DecameronProject.git (push)
origin  https://github.com/laurenmcguigan/DecameronProject.git (fetch)
origin  https://github.com/laurenmcguigan/DecameronProject.git (push)
upstream    https://gith

[2016-04-25 21:42] RJP43 commented on #34
Ok so now do git pull upstream master

[2016-04-25 21:43] RJP43 commented on #34
Then git status and let me see what it says

[2016-04-25 21:46] laurenmcguigan commented on #34
Last login: Mon Apr 25 17:41:32 on ttys001
Laurens-MacBook-Pro:DecameronProject laurenmcguigan$ git pull upstream master
From https://github.com/jlm323/DecameronProject
- branch            master     -> FETCH_HEAD
  371d1da..e490cb6  master     -> upstream/master
  Auto-merging readDecam.xsl
  CONFLICT (content): Merge conflict in readDecam.xsl
  Auto-merging listOfPlaces.tsv
  CONFLICT (content):

[2016-04-25 21:47] laurenmcguigan commented on #34
Also, I did a pull request for the rest, so they should show up now

[2016-04-25 21:50] laurenmcguigan commented on #34
I don't think the changes I made to the css are there though

[2016-04-25 21:51] RJP43 commented on #34
There are conflicts though.... so they cant pull that in or take your changes without fixing the conflicts ... you might have to take note of your changes or change the file names for the couple of files that you are uniquely working on and delete the other files from your staged commit area .. it will be a rebase and will take a lot of explaining ... just give me a minute to try and figure out wh

[2016-04-25 22:03] laurenmcguigan commented on #34
Did someone change the css for the page? Because my changes aren't on it anymore. Not even on my desktop version

[2016-04-25 22:05] ebeshero commented on #34
@RJP43 @laurenmcguigan Lauren: You'll need to learn how to resolve a merge conflict, and update your commit so you can send everything in that you've been working on.

You had another merge conflict a week ago, and I think I resolved it from a distance as a third party, but it's better if Lauren learns how to do it, so she gains knowledge and experience. It's really important always to pull in cha

[2016-04-25 22:16] laurenmcguigan commented on #34
I don't understand how to fix merge conflicts. I don't even know what is causing them. I don't know which ones have conflicts either. I've tried pushing all my updated files and that is as far as I have gotten. If you go to my fork, everything is updated including the css and I'm not really sure how I did that. My desktop client had me changing the name of my own and making it a master. I don't kn

[2016-04-25 22:16] ebeshero commented on #34
@laurenmcguigan So, here's what's happening, and why "git status" is not telling you that you are out of sync with Jess's repo:

You are in sync with **your** origin/master; but that is not the same as Jess's upstream master.
Your GitHub is a fork of Jess's repository, and you have local files that you are commiting and pushing to your fork, which is known as your origin/master. You have also been

[2016-04-25 22:17] laurenmcguigan commented on #34
Also, I have two pull requests, and last time I was able to push them, but now it won't let me

[2016-04-25 22:22] ebeshero commented on #34
Okay, @laurenmcguigan, let's talk about how to resolve those merge conflicts. GitHub--either at command line OR in your Mac GUI (desktop) client-- will identify the files in conflict, and invite you to open each one. It will add markers inside the file to highlight the spots that GitHub is having trouble resolving. So when you open the file in `<oXygen/>` you can see the merge conflict something l

[2016-04-26 00:51] laurenmcguigan commented on #34
My fetch says I don't have permissions to upload jlm323.css. Can someone change that so I can upload the updated version to our server?

[2016-04-26 01:43] jlm323 commented on #34
Try it now, I changed the permissions

[2016-04-26 15:53] laurenmcguigan commented on #34
Hi everyone! Thank you all again for all your help! Especially @ebeshero  @nlottig94  @RJP43 . Sorry about all the trouble, my bad!

[2016-04-26 16:22] nlottig94 commented on #34
@laurenmcguigan @jlm323 @mmm202 @mjb232
Hi all!  We have the merge issue resolved!
EVERYONE NEEDS TO PULL FROM UPSTREAM MASTER!!
`git pull upstream master`
AND THEN:
`git push` (which pushes to your fork!!)
THEN:
`git status` (to see if you're up-to-date.)

[2016-04-26 16:30] RJP43 commented on #34
Very important that before beginning work you do these steps first and then work and then be sure to add and commit and do a pull request as you work don't wait till the end of the day or the end of multiple days work to add your changes because it is likely someone else is working on something that will have an effect on your work and might cause future merge issues. Also when you do the pull req

[2016-04-26 16:30] RJP43 commented on #34
*to

[2016-04-26 19:14] mjb232 opened #41 "Server mix ups"
@mmm202  @laurenmcguigan  @jlm323 Hey, so I dont know if anyone else noticed but our server currently has another set of files in our server: there the usual stuff contained in our Decameron folder, and then theres a copy of our Website_files folder in there as well, which contains more of our files. Should I just delete the Website_Files folder?

[2016-04-26 19:27] jlm323 commented on #41
Yeah I think you can just delete the extra because our updated files aren't in that folder.

[2016-04-26 19:30] mjb232 commented on #41
gotcha

[2016-04-26 19:32] mjb232 commented on #41
Wait, no. I dont have permission to delete any of that stuff. Who ever put it there needs to delete it.

[2016-04-26 19:33] jlm323 commented on #41
I just tried to delete it and I don't have permission either.

[2016-04-26 20:12] laurenmcguigan commented on #41
I deleted it, but the members page still isn't there @mmm202 @mjb232 @jlm323

[2016-04-26 21:07] laurenmcguigan opened #45 "Drop Down Bars"
@nlottig94 Matt and I are having a little trouble with the drop down bar. Matt has the basic html for it, but we need to add the css to make it work and that is where we are having trouble. If you go to decamDrop.html on the main page under web_files, that is the html if you want to take a look. But we do need help with the css. I am going to be at the study abroad event tomorrow, would you be abl

[2016-04-26 22:49] jlm323 commented on #45
I made a simple logo for the site but I am not going to put it anywhere until the drop down bar is figured out since I believe it will go in the SSI with the navigation/drop down bar. If you guys figure it out and want to incorporate the logo yourself, you can just put this in the css and adjust it if you need to.

[code]

And then put something like this in the SSI:

[code]

[2016-04-26 22:49] mmm202 commented on #41
@mjb232 I still need ypur picture and info for the members page, I won't be able to do it until tomorrow evening because of my finals.

[2016-04-27 16:45] laurenmcguigan commented on #45
@jlm323 The logo looks great! we should definitely add that to our Navigation bar! I will be working on the drop down bars as much as possible today, but if I get stuck I am meeting with Becca tomorrow to get it finished. Also, @mjb232 you need to make changes to the members page with your information as soon as possible so we can get that uploaded.

[2016-04-27 17:07] laurenmcguigan commented on #45
@mjb232 I need you to give me permissions on decamDrop

[2016-04-27 18:23] mmm202 commented on #45
@laurenmcguigan we need a link on the menu bar for the members page also, I'm not sure if your already working with that and drop down menus

[2016-04-27 18:25] laurenmcguigan commented on #45
@mmm202 I've got the drop down bars figured out! just working on some styling!

[2016-04-27 18:26] mmm202 commented on #45
@laurenmcguigan did you add the link to get to the members page?

[2016-04-27 18:28] laurenmcguigan commented on #45
@mmm202 yes, but it needs to be uploaded to the server, and so does my ssi, but I don't have the permissions to do that yet.

[2016-04-27 18:35] laurenmcguigan commented on #45
@jlm323 @mjb232 I need permissions on the css and decamnav!

[2016-04-27 18:52] jlm323 commented on #45
I changed the permissions for the decamnav. I can't for the css.

[2016-04-27 18:54] jlm323 commented on #45
Nevermind, I deleted the css and uploaded the new one and changed the permissions so you should be able to access it now!

[2016-04-27 19:10] laurenmcguigan commented on #45
Thank you! @jlm323

[2016-04-27 19:12] laurenmcguigan commented on #45
Thank you! @jlm323

[2016-04-27 19:18] laurenmcguigan commented on #45
Thank you! @jlm323

[2016-04-27 19:21] laurenmcguigan commented on #45
@jlm323 @mmm202 @mjb232 Hey everyone! The nav bar is up online if you want to check it out!

[2016-04-27 21:26] jlm323 commented on #45
It looks good! All we need now is a bio/write-up from @mjb232 and a short write-up of the SVG graph from @mmm202 !

I just made some minor changes on some pages like adding the footer on pages that didn't have it. Everyone make sure you pull the changes!

[2016-04-27 21:29] mjb232 commented on #41
Sorry, @mmm202. I'll add the summary and picture myself so don't worry about it

[2016-04-27 23:42] mjb232 commented on #45
@laurenmcguigan that looks awesome!!! Also, @jlm323 I just edited our members with my summary and picture. Ill just push the new file onto github.

[2016-04-27 23:45] mjb232 commented on #45
Soooooooooooo I have another merge conflict......fml. Ill try and figure it out

[2016-04-28 01:44] RJP43 commented on #45
@mjb232 if you can't figure it out we can fix it tomorrow

[2016-04-28 01:46] laurenmcguigan commented on #45
@mjb232 just delete your version and send me your write-up and picture. I'm making some changes to that page right now

[2016-04-28 01:47] RJP43 commented on #45
@laurenmcguigan way to go getting the drop downs to work!!

[2016-04-28 01:50] laurenmcguigan commented on #45
thank you! @RJP43

[2016-04-28 01:51] laurenmcguigan commented on #45
@RJP43  Does it look okay?!

[2016-04-28 01:53] RJP43 commented on #45
@laurenmcguigan  Yea looks pretty good. You might mess with the colors and maybe the padding on the drop down lists (the gray seems a little misplaced with your site's colors and there seems to be a lot of space between each item in the drop down lists), but it all works and overall looks good. @jlm323 I like how @laurenmcguigan worked in your little graphic design. VERY COOL GUYS!!

[2016-04-28 01:54] RJP43 commented on #45
@jlm323 You might start a check list in another issue making it clear what needs finished and who is responsible. So that if someone needs help with something they can reach out.

[2016-05-01 17:52] jlm323 opened #52 "Official Submission - Spring 2016"
@ebeshero @ghbondar

The Decameronistas, @laurenmcguigan @mjb232 @mmm202 and myself, are officially submitting our [project](http://decameron.newtfire.org/index.html). We have completed the following:
- XML markup of most of the placeNames, some of the persNames, and three nested narratives
- Creation of SVG graph of the number of places within the days of the text
- Creation of network graph show

[2016-09-16 16:42] nlottig94 opened #53 "Decameron Fall 2016"
@laurenmcguigan I can't wait to see what becomes of this for this semester!!! Let me know if you need anything!!!